{%extends 'base.html'%}

{%block title_block%}
<title>vehicle details</title>
{%endblock%}

{%block body_block%}
<div class="container">
  <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
          <div class="card" style="width: 18rem;">
              <div class="card-header">
                {%if Vehicles.image%}
                <img src="{{Vehicles.image.url}}" alt=""width=250>
                {%endif%}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{Vehicles.name}}</li>
                <li class="list-group-item">{{Vehicles.number}}</li>
                <li class="list-group-item">{{Vehicles.owner}}</li>
                <li class="list-group-item">{{Vehicles.km}}</li>
                <li class="list-group-item">{{Vehicles.vehiclemodel}}</li>
              </ul>
            </div> 
      </div>
      <div class="col-3"></div>
  </div>
</div>

{%endblock%}