<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CALCULATOR APPLICATION</h1>
    <a href="{%url 'addition'%}">addition</a>
    <a href="{%url 'subtraction'%}">subtraction</a>
    <a href="{%url 'division'%}">division</a>
    <a href="{%url 'multiplication'%}">multiplication</a>
    <a href="{%url 'cube'%}">cube</a> 
    <a href="{%url 'factorial'%}">factorial</a>
</body>
</html>